
@{
    ViewBag.Title = "Startseite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddEntry", "TimeEntries", FormMethod.Post, new { id = "AddEntry" }))
{
    @Html.AntiForgeryToken()
    <section class="vh-100">
        <div class="row">
            <div class="card col-8 ml-4 pb-3 border-0">
                <div class="d-flex flex-wrap justify-content-between">

                    <div class="col-12 justify-content-start ">
                        <container class="bg-white">
                            <h6 class="text-muted border-bottom border-5 mt-4">ZEIT ERFASSEN</h6>
                            <div class="row">
                                <div class="col-6 text-center mt-3">
                                    <div class="form-group floating-label" name="* Projekt" placeholder="* Rolle">

                                        <form>
                                            <div class="form-group">

                                                @Html.DropDownList("SelectList", (IEnumerable<SelectListItem>)ViewBag.SelectList, "* Kunde", new { @class = "form-control" })
                                            </div>
                                        </form>
                                    </div>
                                    @*@Html.TextBoxFor(m => m.VehicleID)
                            @Html.ValidationMessageFor(m => m.VehicleID)*@
                                </div>

                                <div class="col-6 text-center mt-3">


                                    <div class="form-group floating-label" name="* Projekt" placeholder="* Rolle">

                                        <form>
                                            <div class="form-group">

                                                @Html.DropDownList("SelectList", (IEnumerable<SelectListItem>)ViewBag.projSelectList, "* Projekt", new { @class = "form-control" })
                                            </div>
                                        </form>
                                    </div>
                                    @*@Html.TextBoxFor(m => m.VehicleID)
                            @Html.ValidationMessageFor(m => m.VehicleID)*@
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-12 text-center mt-2">
                                    <div class="form-group floating-label" name="* Projekt" placeholder="* Rolle">

                                        <form>
                                            <div class="form-group">

                                                @Html.DropDownList("SelectList", (IEnumerable<SelectListItem>)ViewBag.areaSelectList, "* Rolle", new { @class = "form-control" })
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mt-2">
                                    <div class="input-group mb-4">

                                        <input type="datetime-local" placeholder="* Datum" id="WorkingDate" name="WorkingDate" class="w-100 border-top-0 border-left-0 border-right-0" />
                                    </div>
                                </div>

                                <div class="col-6 mt-2">
                                    <div class="input-group mb-4">
                                        <input type="number" placeholder="* Arbeitsstunden" id="WorkingHours" name="WorkingHours" class="w-100 border-top-0 border-left-0 border-right-0" />
                                    </div>
                                </div>
                            </div>
                            <div class="row-12 mb-4 mt-2">

                                <input type="text" placeholder="Ausgeführte Tätigkeit" id="ExecutedActivity" name="ExecutedActivity" class="w-100 border-top-0 border-left-0 border-right-0" />
                            </div>

                            <div class="row mt-3 ms-2 mb-3">
                                <div class=" col-6">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-bookmark text-light"></i>
                                        Speichern
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                        Zurücksetzen
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-primary">
                                        <i class="fa fa-bookmark text-light"></i>
                                        Als Template speichern
                                    </button>
                                </div>
                            </div>
                        </container>
                    </div>
                </div>
            </div>

            <div class="card w-25 h-50 ml-4 border-0">
                <div class="col-12 justify-content-end">
                    <container class="bg-white col-4">
                        <h6 class="text-muted border-bottom border-5">TEMPLATES</h6>
                        <div class="alert alert-info">Es sind keine Templates verfügbar.</div>
                    </container>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card col-8 ml-4 mt-4 border-0">
                
                    <h6 class="text-uppercase ml-3 mt-3" style="letter-spacing: 1.5px;">Letzte erfasste Zeiten</h6>
                    <div class="col-12">
                        <div class="alert alert-info">Es sind keine Einträge verfügbar.</div>
                    </div>
                
            </div>
        </div>
            

</section>
}
<script>document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.sidebar .nav-link').forEach(function (element) {

                element.addEventListener('click', function (e) {

                    let nextEl = element.nextElementSibling;
                    let parentEl = element.parentElement;

                    if (nextEl) {
                        e.preventDefault();
                        let mycollapse = new bootstrap.Collapse(nextEl);

                        if (nextEl.classList.contains('show')) {
                            mycollapse.hide();
                        } else {
                            mycollapse.show();
                            // find other submenus with class=show
                            var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                            // if it exists, then close all of them
                            if (opened_submenu) {
                                new bootstrap.Collapse(opened_submenu);
                            }
                        }
                    }
                }); // addEventListener
            }) // forEach
        });</script>


